<!DOCTYPE html>

<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Phozogy Template">
    <meta name="keywords" content="Hotel, Hotel Montaña, Colibri, Naturaleza">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    @*<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />*@


    <title>@ViewBag.Title Hotel Colibri</title>
    <link rel="shortcut icon" href="~/img/favicon.ico" />
    @Styles.Render("~/Content/css")
    @*@Scripts.Render("~/bundles/modernizr")*@

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css" type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js" type="text/javascript"></script>



</head>
<body>
    <header class="header-section">
        <div class="container-fluid">
            <div class="row" style="border-bottom: 0.5em solid black; margin-bottom: 3em;">
                <div class="col-lg-6" style="display: inline-block">
                    <div class="logo">
                        <a href="@Url.Action("Index", "Admin")">
                            <img src="~/img/logo.png" alt="Hotel Colibrí">
                        </a>

                    </div>
                </div>
                <div class="col-lg-6" style="display: inline-block">
                    <div style="text-align: right; margin-top: 1em; font-size: 2em;">
                        <b>
                            Bienvenido  @Session["UserName"],
                            @Html.ActionLink("Salir", "LogOut", "Admin")
                        </b>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 ">
                    <div class="marco">
                        <nav class="nav-menu mobile-menu">
                            <ul>
                                <li>@Html.ActionLink("Inicio", "Index", "Admin")</li>
                                <li>@Html.ActionLink("Administrar Páginas", "About", "Home")</li>
                                <li>@Html.ActionLink("Listado de Reservaciones", "Index", "Facilidades")</li>
                                <li>@Html.ActionLink("Administrar Habitaciones", "Index", "Admin")</li>
                                <li>@Html.ActionLink("Ver Estado del Hotel Hoy", "estadoHabitacion", "Admin")</li>
                                <li>@Html.ActionLink("Consultar disponibilidad de habitaciones", "consultarDisponibilidadHabitaciones", "Admin")</li>
                                <li>@Html.ActionLink("Publicidad", "Contact", "Home")</li>


                            </ul>

                        </nav>
                        <div id="mobile-menu-wrap"></div>
                    </div>
                </div>
                <div class="col-lg-9 container body-content">
                    @RenderBody()
                </div>

            </div>
        </div>
        <div class="container-fluid" style="text-align: right; border-top: 0.5em solid black;">


        </div>
    </header>
    <!-- Header End -->
    <!-- Footer Section Begin -->
    <footer style="margin-right: 1em;">
        Copyright©Hotel Colibrí 2010      @*********Aqui se podria traer el nombre del hotel desde la bd*******@
    </footer>
    <!-- Footer Section End -->
    <!-- Search model end -->




    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryslicknav")
    @Scripts.Render("~/bundles/jquerymagnific")
    @Scripts.Render("~/bundles/main")
    @Scripts.Render("~/bundles/isotope")
    @Scripts.Render("~/bundles/masonry")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/carousel")
    @Scripts.Render("~/bundles/map")
    @Scripts.Render("~/bundles/fecha")
    @Scripts.Render("~/bundles/datatables")
    @RenderSection("scripts", required: false)
    <!-- Js Plugins -->
</body>
</html>
