
@{
    ViewBag.Title = "Reservar en Linea";
}
<h1 class="text-center">@ViewBag.Title</h1>
<body>
    <div>
        <p id="textohome">Reservaion realizada!</p>
    </div>
    <div>
        <p id="textohome">Gracias @ViewBag.nombre!! Su reservacio fue realizada exitosamente. </p>
    </div>
    <div>
        <p id="textohome">Numero de reservacion: @ViewBag.numReserva</p>
    </div>
    <div>
        <p id="textohome">Numero de habitacion: @ViewBag.numHabitacion</p>
    </div>
    <div>
        <p id="textohome">Acabamos de enviar estad informacion a la direccion @ViewBag.email para mayor facilidad</p>
    </div>
    <br>
    <div>
        <p id="textohome">Gracias por preferirnos</p>
    </div>
</body>


