
@{
    ViewBag.Title = "AdministracionHabitaciones";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    int contador = 0;
}

<h2 style="margin-left: 3em;">@ViewBag.NombreUnico</h2>

@foreach (var tipo in ViewBag.tiposDeHabitacion)
{
<div class="row">
    <div class="container-fluid" style="margin-left: 6em;">
        <h3>@tipo.Nombre1 <u>@Html.ActionLink("Cambiar Descripción", "CambiarDescripcionHabitacion", new { idTipoHabitacion = tipo.Id1 })</u></h3>
    </div>
    <div class="container-fluid" style="margin-left: 6em;">
        <table class=" table-bordered " style="border:3px solid">
            <thead>
                <tr style="background-color:darkgrey">

                    <th scope="col">Numero de Habitacion</th>
                    <th scope="col">Estado</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var habitacion in ViewBag.habitaciones)
                {
                    if (@habitacion.IdTipo1 == tipo.Id1)
                    {
                        if (@habitacion.Estado1 == 1)
                        {
                            <tr>
                                <td>@habitacion.Numero1</td>
                                <td><input id="@habitacion.Numero1" type='checkbox' name='estados'  onclick="cambiarEstado('@habitacion.Numero1')" /></td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td>@habitacion.Numero1</td>
                                <td><input id="@habitacion.Numero1" type='checkbox' name='estados' onclick="cambiarEstado('@habitacion.Numero1')" checked /></td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</div>

    }

