@{
    ViewBag.Title = "estadoHabitacion";
}

<h2>Estado del Hotel Hoy</h2>
<br />
<br />
<br />
<br />
<br />

@*<div class="row" style="margin-bottom:10px">
    
    <input type="text" id="dia" class="col-md-2 input-number" placeholder="Dia" style="margin-right:5px" />
    <input type="text" id="mes" class="col-md-2 input-number" placeholder="Mes" style="margin-right:5px" />
    <input type="text" id="ano" class="col-md-2 input-number" placeholder="Año" style="margin-right:5px"/>
     <button class="btn-success" onclick="">Buscar</button>
</div>*@
<table class=" table-bordered " style="border:3px solid">
    <thead>
        <tr style="background-color:darkgrey">

            <th scope="col">Numero de Habitaci&oacute;n</th>
            <th scope="col">Tipo</th>
            <th scope="col">Estado</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.datos)
        {
            var est = "";
            if (@item.estado == 0)
            {
                est = "Ocupado";
            }
            else if (@item.estado == 1)
            {
                est = "Disponible";
            }
            <tr>
                <td>@item.numero</td>
                <td>@item.tipo</td>
                <td>@est</td>
            </tr>
        }
    </tbody>
</table>


