
@{
    ViewBag.Title = "Modificar Paginas";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="margin-left: 3em;">@ViewBag.Title</h2>
<div>
  <p>Seleccione la pagina que desea modificar</p>
</div>
<div class="container-fluid">
    <u>@Html.ActionLink("Home", "actualizarHome")</u>
</div>
<div class="container-fluid">
    <u>@Html.ActionLink("Sobre Nosotros", "AdministrarPaginaSobreNosotros")</u>
</div>
<div class="container-fluid">
    <u>@Html.ActionLink("Facilidades", "AdministrarPaginaFacilidades")</u>
</div>
<div class="container-fluid">
    <u>@Html.ActionLink("Como Llegar", "ActualizarLocation")</u>
</div>

