@{
    ViewBag.Title = "Registrar Usuario";
    Layout = "~/Views/Shared/_LayoutInicio.cshtml";
}

<body>
    <div class="row">
        <div class="container" style="text-align: center; margin-top: 2em;">
            <h2>@ViewBag.Title</h2>
        </div>
        <div class="container" style="text-align: center; margin-top: 5em;">
            <form action="/Admin/LogIn" method="post">
                <div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-12">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    @if (@ViewBag.Message != null)
                    {
                        <div style="border: 1px solid red">
                            @ViewBag.Message
                        </div>
                    }
                    <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input id="nombre" name="nombre" class="form-control" type="text" placeholder="Nombre" required>
                    </div>
                    <div class="form-group">
                        <label for="apellidos">Apellidos</label>
                        <input id="apellidos" name="apellidos" class="form-control" type="text" placeholder="Apellidos" required>
                    </div>
                    <div class="form-group">
                        <label for="usuario">Usuario</label>
                        <input id="usuario" name="usuario" class="form-control" type="text" placeholder="Usuario" required>
                    </div>
                    <div class="form-group">
                        <label for="contrasenna">Contraseña</label>
                        <input id="contrasenna" name="contrasenna" class="form-control" type="password" placeholder="Contraseña" required>
                    </div>
                    <div class="form-group">
                        <label for="tipo">Tipo</label>
                        <input id="tipo" name="tipo" class="form-control" type="text" placeholder="Tipo" required>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary mb-2">Aceptar</button>
                        <button type="button" class="btn btn-secondary  mb-2" onclick="location.href='@Url.Action("Index", "Home")'">Cancelar</button>

                    </div>
                    <div class="form-group">
                        <a>@ViewBag.data</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
