@{
    ViewBag.Title = "About";

    List<ContenidoImagen> c = (List<ContenidoImagen>)ViewBag.Imagenes;

}

    


<p style=" text-align: justify">@ViewBag.valorTexto</p>

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="~/Content/gallery.css" rel="stylesheet" />"
<script src="~/Scripts/gallery.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag   cambio---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">


<h2>Galer&iacute;a</h2>
<br />
<div class="container">
    <div class="row">

        <div class="row" style="padding: 0;">

            
            <div class="col-lg-6 col-md-6 col-xs-4" style="padding: 0">
                @*<img class="card-img-top" id="mainImage" src="~/img/About Us/hotel1.jpg">*@
                <img class="card-img-top" id="mainImage" src="@c[0].nombreUnico">
            </div>




            <div class="col-lg-1 col-md-1 col-xs-2 xs">
                <a class="thumbnail" href="#">
                    <img class="img-thumbnail getImage"
                         src="@c[0].nombreUnico">
                </a>

                <a class="thumbnail" href="#">
                    <img class="img-thumbnail getImage"
                         src="@c[1].nombreUnico">
                </a>

                <a class="thumbnail" href="#">
                    <img class="img-thumbnail getImage"
                         src="@c[2].nombreUnico">
                </a>

                <a class="thumbnail" href="#">
                    <img class="img-thumbnail getImage"
                         src="@c[3].nombreUnico">
                </a>
            </div>

            <div class="col-lg-1 col-md-1 col-xs-2 xs">
                <a class="thumbnail" href="#">
                    <img class="img-thumbnail getImage"
                         src="@c[4].nombreUnico">
                </a>

                <a class="thumbnail" href="#">
                    <img class="img-thumbnail getImage"
                         src="@c[5].nombreUnico">
                </a>

                <a class="thumbnail" href="#">
                    <img class="img-thumbnail getImage"
                         src="@c[6].nombreUnico">
                </a>

                <a class="thumbnail" href="#">
                    <img class="img-thumbnail getImage"
                         src="@c[7].nombreUnico">
                </a>


            </div>

            <div class="col-lg-1 col-md-1 col-xs-2 ">
                <a class="thumbnail" href="#">
                    <img class="img-thumbnail getImage"
                         src="@c[8].nombreUnico">
                </a>

                <a class="thumbnail" href="#">
                    <img class="img-thumbnail getImage"
                         src="@c[9].nombreUnico">
                </a>

                <a class="thumbnail" href="#">
                    <img class="img-thumbnail getImage"
                         src="@c[10].nombreUnico">
                </a>

                <a class="thumbnail" href="#">
                    <img class="img-thumbnail getImage"
                         src="@c[11].nombreUnico">
                </a>
            </div>

            <div class="col-lg-1 col-md-1 col-xs-2">
                <a class="thumbnail" href="#">
                    <img class="img-thumbnail getImage"
                         src="@c[12].nombreUnico">
                </a>

                <a class="thumbnail" href="#">
                    <img class="img-thumbnail getImage"
                         src="@c[13].nombreUnico">
                </a>

                <a class="thumbnail" href="#">
                    <img class="img-thumbnail getImage"
                         src="@c[14].nombreUnico">
                </a>

                <a class="thumbnail" href="#">
                    <img class="img-thumbnail getImage"
                         src="@c[15].nombreUnico">
                </a>
            </div>

        </div>
    </div>

</div>


@section scripts{

    <script>
        $(".getImage").click(function () {
                    var img = $(this).attr("src");
            $("#mainImage").attr("src", img);
                    //alert(img);

        });

       

    </script>


}


